.successfullyCompleted {
    -fx-background-color:
        /* Bright greens */
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #b8ee36 45.0%, #80c800 50.0%);
        -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
        -fx-text-fill: black;
        -fx-font-weight: normal;
}
.successfullyCompleted:selected {
    /* Enlarge the button */
    -fx-padding: 20 20 20 20;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.successfullyCompleted:hover {
    -fx-background-color:
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #CFFA69 45.0%, #A8D656 50.0%);
}
.unvisited {
    -fx-background-color:
        linear-gradient(#CAD5DE, #CEE1F0), /* Gray */
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #b8ee36 45.0%, #80c800 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
}
